/* LIST CONTAINER */

.myUnOrdList {
  display: flex;
  justify-content: center;
  width: 100%;
}

.todo-list {
  width: 100%;
  max-width: 1000px;
  list-style: none;
  padding: 0;
}

/* TODO CARD */

.todo-item {
  margin: 2rem auto;

  background-color: #f2f3f4;
  color: #1c2833;

  border-radius: 25px;

  padding: 2rem;

  width: 95%;
  max-width: 1000px;

  display: grid;
  grid-template-columns: 1fr 220px 60px 60px;

  align-items: center;
  gap: 1rem;
}

/* TASK TEXT */

.todo-item span {
  font-size: 18px;
}

/* TEXTAREA */

textarea {
  width: 200px;
  height: 120px;

  border-radius: 12px;
  border: 1px solid #ccc;

  padding: 10px;

  resize: none;
}

/* CHECK BUTTON */

.check-btn {
  background-color: #2ecc71;
  color: white;

  border: none;

  width: 45px;
  height: 45px;

  font-size: 22px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

/* DELETE BUTTON */

.delete-btn {
  background-color: #e74c3c;
  color: white;

  border: none;

  width: 45px;
  height: 45px;

  font-size: 22px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

/* COMPLETED TASK STYLE */

.checkList {
  text-decoration: line-through;
}

.notCheckList {
  text-decoration: none;
}

/* CLEAR ALL BUTTON */

.clear-btn {
  margin-top: 20px;

  background-color: #e74c3c;

  font-size: 1.6rem;

  padding: 1rem 2rem;

  border-radius: 5px;

  color: white;

  border: none;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #8d1407;
}