.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  padding-top: 3%;

  background-image: linear-gradient(100deg, #001214, #001f29);
  color: white;

  transition: 0.3s linear;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  min-height: 25vh;
  width: 100%;
}

section h1 {
  color: #fff;
  font-size: 2.8rem;
  text-align: center;
}

/* DATE TIME */

.date-time {
  font-size: 1.4rem;
  text-align: center;
  color: whitesmoke;
}

/* INPUT FORM */

form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 15px 0;
  padding: 0.8rem;
  width: 100%;
}

form input {
  padding: 10px;
  font-size: 1.6rem;

  border: none;
  outline: none;

  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;

  max-width: 400px;
  width: 100%;

  background-color: #f2f3f4;
}

form button {
  padding: 10px;
  font-size: 20px;

  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;

  min-width: 120px;

  background-color: #5dade2;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #f1c40f;
}